@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

.productsans {
  font-family: Product Sans;
  font-size: 25px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.315);
}

.profile {
  box-shadow: 0 4px 8px 0 rgba(63, 63, 63, 0.315);
}

.card:hover {
  box-shadow: -1px 12px 30px -9px rgba(0, 0, 0, 0.86);
}

.btn {
  background-color: #cc292b;
  color: #FFF;
  border-color: #2F3E48;
  float: right;
  border-radius: 10em;
}

.btn:hover {
  background-color: #e75659;
}

.card-text {
  font-size: .85em;
}

.fab {
  width: 46px;
  height: 46px;
  background-color: #C83F38;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: .9em;
  color: white;
  text-align: center;
  padding-top: 13px;

  float: right;
}

.fab:hover {
  box-shadow: 0 6px 11px 0 #666;
  background-color: rgb(194, 47, 40);
  transform: scale(1.02);
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 255px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #DB504A; /* Black background color */
  color: rgb(255, 254, 254); /* White text color */
  text-align: center; /* Centered text */
  border-radius: .5em; /* Rounded borders */
  padding: 19px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 87%; /* Center the snackbar */
  bottom: 87.5%; /* 30px from the bottom */
  box-shadow: -1px 4px 61px 9px rgba(0,0,0,0.45);
  font-family: Product Sans;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
